.header {
	background-color: #f8f3f4;
	padding: 60px 0 60px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__l-side h1 {
			font-weight: 400;
			font-size: 24px;
			color: $colorSelectSite;
		}

		&__breadcrumb {
			font-weight: 300;
			font-size: 14px;
			color: #636363;

			& a :hover {
				color: $colorSelectSite;
			}

			& a:not(:last-child)::after {
				content: "/";
				padding: 0 3px;
			}

			& a:last-child {
				font-weight: 700;
				color: $colorSelectSite;
			}
		}
	}
}
