* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main_nav-background {
  background-color: #222222;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.main_nav button {
  background-color: #222222;
}

.main_nav-block1 {
  display: flex;
  gap: 41px;
  margin-right: 41px;
}

.main_nav-block2 {
  position: relative;
  display: flex;
  gap: 33px;
  margin-right: 9px;
}

.main_nav-block2-sales {
  position: absolute;
  top: -9px;
  right: -9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  border-radius: 20px;
  width: 19px;
  height: 19px;
}

.menu-hidden {
  display: none;
}

.menu {
  position: absolute;
  right: 0px;
  min-width: 232px;
  padding: 37px 73px 32px 33px;
  background-color: #ffffff;
}

.menu_close button {
  position: absolute;
  top: 16px;
  right: 17px;
  background-color: #ffffff;
}

.menu h2 {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  padding-left: 1px;
  margin-bottom: 4px;
}

.menu_section {
  margin-top: 20px;
}

.menu_section_type {
  padding-bottom: 1px;
}

.menu_section_type a {
  font-weight: 400;
  font-size: 14px;
  color: #f16d7f;
}

.menu_section_products ul {
  padding-top: 11px;
  padding-left: 22px;
}

.menu_section_products a {
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
}

.footer__subscribe {
  background-image: url("./img/subscribe_background.png");
  background-size: cover;
  min-height: 448px;
}

.footer__subscribe__background_color {
  width: 100%;
  height: 100%;
  min-height: 448px;
  background: rgba(244, 244, 244, 0.7);
}

.footer__subscribe__content {
  min-height: 448px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__subscribe__info {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__subscribe__info p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222224;
  padding: 30px 0;
}

.footer__subscribe__subscribe {
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__subscribe__subscribe h2,
.footer__subscribe__subscribe h3 {
  line-height: 167%;
  text-align: center;
  color: #222224;
}

.footer__subscribe__subscribe h3 {
  font-weight: 700;
  font-size: 24px;
}

.footer__subscribe__subscribe h3 {
  font-weight: 400;
  font-size: 18px;
}

.footer__subscribe__form {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.footer__subscribe__form input {
  font-weight: 400;
  font-size: 14px;
  color: #222224;
  opacity: 0.67;
  padding: 7px 64px 7px 22px;
  max-width: 256px;
  min-height: 49px;
  border-radius: 24px 0 0 24px;
  border: #e1e1e1;
  background-color: #e1e1e1;
}

.footer__subscribe__form button {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #f16d7f;
  padding: 7px;
  min-width: 100px;
  border-radius: 0 24px 24px 0;
}

.footer__footer__background_color {
  background-color: #222224;
}

.footer____footer__content {
  display: flex;
  justify-content: space-between;
}

.footer____footer__content p {
  font-weight: 400;
  font-size: 16px;
  color: #fbfbfb;
  padding: 30px 0 30px 5px;
}

.footer____footer__nav {
  display: flex;
  align-items: center;
  padding: 24px 0;
  gap: 7px;
}

.footer____footer__nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.footer____footer__nav__icon:hover {
  background-color: #f16d7f;
}

.footer____footer__nav__icon:hover svg {
  fill: #ffffff;
}

body {
  font-family: "Lato";
}

a {
  color: inherit;
}

.header {
  background-color: #f8f3f4;
  padding: 60px 0 60px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content__l-side h1 {
  font-weight: 400;
  font-size: 24px;
  color: #F16D7A;
}
.header__content__r-side {
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}
.header__content__r-side__current-link {
  font-weight: 700;
  color: #F16D7A;
}

.product__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../img/product/product_main.png) no-repeat center top;
  height: 777px;
  padding-top: 11px;
  background-color: #f7f7f7;
}
.product__img button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
}
.product__img button:hover path {
  fill: #F16D7A;
}
.product__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: -65px;
  padding: 65px 293px;
}
.product__about h2 {
  font-weight: 300;
  font-size: 14px;
  color: #F16D7A;
}
.product__about__hr1 {
  width: 63px;
  border: none;
  border-top: 3px solid #F16D7A;
  margin-top: 12px;
}
.product__about h3 {
  font-weight: 300;
  font-size: 18px;
  color: #4d4d4d;
  margin-top: 12px;
}
.product__about__discription {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #5e5e5e;
  margin-top: 48px;
}
.product__about__price {
  font-weight: 300;
  font-size: 24px;
  color: #F16D7A;
  margin-top: 32px;
}
.product__about__hr2 {
  width: 642px;
  border: none;
  border-top: 1px solid #eaeaea;
  margin-top: 65px;
}
.product__about__sort {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-top: 65px;
}
.product__about__sort button {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
  background-color: inherit;
}
.product__about__add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  font-weight: 400;
  font-size: 16px;
  background-color: inherit;
  color: #F16D7A;
  border: 1px solid #F16D7A;
  min-width: 212px;
  min-height: 48px;
  margin-top: 48px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 128px 0;
}
.card-list__card {
  position: relative;
  max-width: 360px;
  padding-bottom: 24px;
  background-color: #f8f8f8;
}
.card-list__card__add {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 56, 56, 0.86);
  width: 360px;
  height: 420px;
}
.card-list__card__add button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: solid #ffffff;
  padding: 10px 15px;
}
.card-list__card:hover .card-list__card__add {
  display: flex;
}
.card-list__card h3 {
  font-weight: 400;
  font-size: 13px;
  color: #000;
  padding: 24px 16px 0;
}
.card-list__card__about {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
  padding: 16px 29px 0 16px;
}
.card-list__card__price {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  padding: 16px 16px 0;
}/*# sourceMappingURL=style_product.css.map */